<!DOCTYPE html>
<html onselectstart="return false">
<!-- onselectstart="return false" 禁止页面复制-->
<head lang="en">
    <!--onselectstart="return false"-->
    <meta charset="UTF-8">
    <title>document</title>
    <!--一共用的就是40到50个单词记住即可-->
    <!-- div.pic 是创建一个盒子-->
    <link href="http://cdn.gbtags.com/jqueryui/1.10.4/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>  
    <link href="static/style.css?v20170628" type="text/css" rel="Stylesheet"/>
    <link href="static/my_dialog.css" type="text/css" rel="Stylesheet"/>
    
</head>
<body>
    <!--div 长方型的区域-->
    
    <div id="video1" class="pic">
        <img src="static/img/1.jpg" alt="1.jpg"/>
        <img src="static/img/2.jpg" alt="2.jpg"/>
        <img src="static/img/3.jpg" alt="3.jpg"/>
        <img src="static/img/4.jpg" alt="4.jpg"/>
        <img src="static/img/5.jpg" alt="5.jpg"/>
        <img src="static/img/6.jpg" alt="6.jpg"/>
        <img src="static/img/7.jpg" alt="7.jpg"/>
        <img src="static/img/8.jpg" alt="8.jpg"/>
        <img src="static/img/9.jpg" alt="9.jpg"/>
        <img src="static/img/10.jpg" alt="10.jpg"/>
        <!--<img src="img/11.jpg" alt="11.jpg"/>-->
        <!--<p></p> -->
    </div>

    <div class="container_show" id="container_show1">
    </div>
    <div class="container_show" id="container_show2">
    </div>
    <div id="button_container" class="wall-of-buttons">
        <button class="state button">添加人物</button>
        <button class="state button">删除人物</button> 
        <button class="magenta button">取消关联</button>
        <button class="green button">合并人物</button> 
        <button class="state button">添加人物</button> 
        <button class="state button">删除人物</button> 
    </div>
    <ol id="list1" class="rounded-list">
    </ol>
    <ol id="list2" class="rounded-list">
    </ol>
    <div id="video2" class="pic">
        <img src="static/img/11.jpg" alt="1.jpg"/>
        <img src="static/img/12.jpg" alt="2.jpg"/>
        <img src="static/img/13.jpg" alt="6.jpg"/>
        <img src="static/img/14.jpg" alt="7.jpg"/>
        <img src="static/img/15.jpg" alt="8.jpg"/>
        <img src="static/img/16.jpg" alt="9.jpg"/>
        <img src="static/img/17.jpg" alt="9.jpg"/>
         <!--<p></p>-->
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  

<script type="text/javascript" src="http://cdn.gbtags.com/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="static/ajaxSend.js"></script>
    <script type="text/javascript" src="static/jq_mydialog.js?v20170628"></script>
    <script type="text/javascript" src="static/jquery.resize.js"></script>

    <script type="text/javascript" src="static/showPic.js?v20170629"></script>
    <script type="text/javascript" src="static/drawRect.js?v20170628"></script>

    <div id = 's'>
    </div>
</body>
</html>